
@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "В этом блоге вы найдете то что нужно";
    ViewBag.Keywords = "Blog Programing Travel Photograpy";
    var base_path = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">Огонь</span>
    @*Вызовется метод Index с тремя параметрами (при отправке формы), тк мы установили их передачу в полях input*@
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
        <input type="hidden" name="category" value="@Model.Category" />
        <input class="search" type="text" name="search" placeholder="Искать блог" value="@Model.Search" />
        <button class="submit-btn">Поиск</button>
    </form>

</div>

<div class="container">
    
    @foreach (var post in Model.Posts) // пробегаемся по свойствам модели IndexVM
    {
        var image_path = $"{base_path}/Image/{post.Image}";
        // Вызовется метод Post с одним параметром id, заданном в атрибуте asp-route-id
        @*<a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">*@
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" />
            <span class="title">
                @post.Title
            </span>
        </a>
    }
    
    <!--Подключаем другое представление-->

    <partial name="_BlogPagination" model="Model" />

</div>