<!--получаем на вход коллекцию объектов Post -->
@* @model IEnumerable<Post> *@
@model IEnumerable<HeaderPostViewModel>

@*     @model List<PostViewModel> *@
@{

}

<link href="~/css/Panel.css" rel="stylesheet" />

<div class="panel">
    <div class="panel-header">
        <a asp-controller="Panel" asp-action="Edit">Создать новую запись</a>
    </div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <div class="li-wrapper_record">
                    @post.Title
                    @if (User.IsInRole("Admin"))
                    {
                        @post.Author
                    }
                </div>
                @*<p>@post.Author</p>*@
                <div class="li-buttons-wrapper">
                    <a asp-controller="Post" asp-action="Index" asp-route-postId="@post.Id">
                        <!--Передаем на вход в метод Post Id поля БД-->
                        Перейти
                    </a>
                    <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                        <!--Передаем на вход в метод Post Id поля БД-->
                        Редактировать
                    </a>
                    <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                        <!--Передаем на вход в метод Post Id поля БД-->
                        Удалить
                    </a>
                </div>

            </li>
        }
    </ul>
</div>
